// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
CUSTOM WORDPRESS ADMIN OVERRIDES
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@black: #000000;
@white: #FFFFFF;
@blue: #0073AA;
@menu: #23282D;
@menudark: #171a1d;

/* LOADER */
.loader-css {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @black;
    border-color: @black transparent @black transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

.loader-hidden {
    display: none;
}

/* --------------------------------------------------------------
LOGIN PAGE
-------------------------------------------------------------- */
body.login {
    background-color: @menu;
}

.login #nav {
    text-align: center;
}

.login #backtoblog {
    text-align: center;
}

.login #backtoblog a,
.login #nav a {
    text-decoration: none;
    color: @white;
}

.login .button-primary {
    float: none;
    width: 100%;
    margin-top: 1rem;
}

.login form {
    padding: 26px 24px 30px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
}

.login label {
    font-size: 13px;
    line-height: 1.8;
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 500;
}


/* --------------------------------------------------------------
ADMIN STYLE
-------------------------------------------------------------- */
/* TOP OF METABOXES */
.postbox .hndle,
.stuffbox .hndle {
    border-bottom: 1px solid @menu;
    background: @menu;
    color: @white;
}

/* MENU CUSTOM STYLE */
#adminmenu #toplevel_page_diyflorida-control-panel {
    background: #464646;
}

#footer-thankyou a {
    text-decoration: none;
    font-weight: 600;
    color: @menu;

    &:hover {
        color: @blue;
    }
}

/* --------------------------------------------------------------
CUSTOM MENU ADMIN PAGE
-------------------------------------------------------------- */
body.woocommerce_page_diy_custom_options {
    & #wpcontent {
        padding-left: 0;
    }

    & .diyflorida-admin-header-container {
        background-color: @menudark;
        padding: 1rem;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & img {
            max-width: 130px;
        }

        & h1 {
            font-weight: 300;
            color: @white;
        }
    }

    & .diyflorida-admin-content-container {
        padding: 1rem;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & .diyflorida-admin-content-title {
            ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 2rem;

            & h2 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        & .diyflorida-admin-content-item {
            ms-flex: 0 0 33%;
            flex: 0 0 30%;
            max-width: 30%;
            background: #e8e8e8;
            border-radius: 10px;
            padding: 1rem;
            margin-bottom: 1rem;

            & .form-table th {
                width: 170px;
            }

            & label {
                display: block;
                vertical-align: middle;
                margin-bottom: 5px;
                text-align: right;
            }
        }
    }

    & .diyflorida-admin-content-submit {
        ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    & .form-diy-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 85%;

        & .special-table-btn {
            padding: 0.8rem 1.2rem;
            padding-top: 0.7rem;
            margin-top: 1rem;
            background: #f6961c;
            color: white;
            border: 0;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            .transition(all .3s ease-in-out);

            &:hover {
                background: #c5740b;
                color: white;
            }
        }

        & .form-control {
            width: 100%;
            border: 1px solid #b5b5b5 !important;
            border-radius: 0 !important;
            height: auto !important;
            padding: 0.6rem !important;
        }
    }
}

/* WP CUSTOMIZE */

#accordion-section-diy_social_settings,
#accordion-section-diy_cookie_settings {
    & .accordion-section-title {
        background: #24405c;
        color: @white;
    }
}



.woocommerce_page_diy_custom_options #wpcontent {
    padding: 0;
}

.diy_custom_options-header {
    background: #9fa1a2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.diy_custom_options-content {
    padding: 2rem;
}