/* --------------------------------------------------------------
CUSTOM WORDPRESS ADMIN OVERRIDES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* LOADER */
.loader-css {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-hidden {
  display: none;
}
/* --------------------------------------------------------------
LOGIN PAGE
-------------------------------------------------------------- */
body.login {
  background-color: #23282D;
}
.login #nav {
  text-align: center;
}
.login #backtoblog {
  text-align: center;
}
.login #backtoblog a,
.login #nav a {
  text-decoration: none;
  color: #FFFFFF;
}
.login .button-primary {
  float: none;
  width: 100%;
  margin-top: 1rem;
}
.login form {
  padding: 26px 24px 30px;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}
.login label {
  font-size: 13px;
  line-height: 1.8;
  display: inline-block;
  margin-bottom: 3px;
  font-weight: 500;
}
/* --------------------------------------------------------------
ADMIN STYLE
-------------------------------------------------------------- */
/* TOP OF METABOXES */
.postbox .hndle,
.stuffbox .hndle {
  border-bottom: 1px solid #23282D;
  background: #23282D;
  color: #FFFFFF;
}
/* MENU CUSTOM STYLE */
#adminmenu #toplevel_page_diyflorida-control-panel {
  background: #464646;
}
#footer-thankyou a {
  text-decoration: none;
  font-weight: 600;
  color: #23282D;
}
#footer-thankyou a:hover {
  color: #0073AA;
}
/* --------------------------------------------------------------
CUSTOM MENU ADMIN PAGE
-------------------------------------------------------------- */
body.woocommerce_page_diy_custom_options #wpcontent {
  padding-left: 0;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-header-container {
  background-color: #171a1d;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-header-container img {
  max-width: 130px;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-header-container h1 {
  font-weight: 300;
  color: #FFFFFF;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-container {
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-container .diyflorida-admin-content-title {
  ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-container .diyflorida-admin-content-title h2 {
  margin-top: 0;
  margin-bottom: 0;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-container .diyflorida-admin-content-item {
  ms-flex: 0 0 33%;
  flex: 0 0 30%;
  max-width: 30%;
  background: #e8e8e8;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-container .diyflorida-admin-content-item .form-table th {
  width: 170px;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-container .diyflorida-admin-content-item label {
  display: block;
  vertical-align: middle;
  margin-bottom: 5px;
  text-align: right;
}
body.woocommerce_page_diy_custom_options .diyflorida-admin-content-submit {
  ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
body.woocommerce_page_diy_custom_options .form-diy-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 85%;
}
body.woocommerce_page_diy_custom_options .form-diy-container .special-table-btn {
  padding: 0.8rem 1.2rem;
  padding-top: 0.7rem;
  margin-top: 1rem;
  background: #f6961c;
  color: white;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body.woocommerce_page_diy_custom_options .form-diy-container .special-table-btn:hover {
  background: #c5740b;
  color: white;
}
body.woocommerce_page_diy_custom_options .form-diy-container .form-control {
  width: 100%;
  border: 1px solid #b5b5b5 !important;
  border-radius: 0 !important;
  height: auto !important;
  padding: 0.6rem !important;
}
/* WP CUSTOMIZE */
#accordion-section-diy_social_settings .accordion-section-title,
#accordion-section-diy_cookie_settings .accordion-section-title {
  background: #24405c;
  color: #FFFFFF;
}
.woocommerce_page_diy_custom_options #wpcontent {
  padding: 0;
}
.diy_custom_options-header {
  background: #9fa1a2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.diy_custom_options-content {
  padding: 2rem;
}
