/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader-css {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
  background-color: #ffffff;
  padding: 1rem;
}
.navbar-buttons {
  text-align: right;
}
.navbar-buttons .btn-header {
  color: #ffffff;
  border: 1px solid linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
  background: linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
  border-radius: 0;
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 0.5rem;
  padding: 0.8rem 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-buttons .btn-header:hover {
  background: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);
  border-color: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);
}
.navbar-buttons .button1 {
  font-weight: 400;
  background: #ffffff;
  border-color: #A0A0A0;
  color: #A0A0A0;
}
.navbar-buttons .button1:hover {
  background: #ffffff;
  color: #58595B;
  border-color: #58595B;
}
.btn-cart {
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
.btn-cart:hover {
  text-decoration: none;
}
.btn-cart .badge {
  border-radius: 100%;
  height: 23px;
  width: 23px;
  padding-top: 6px;
  text-align: center;
  margin-left: -12px;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background-color: #FBAF3F;
  color: #ffffff;
  padding: 2rem;
}
.the-footer .footer-item ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.the-footer .footer-item .widget_media_image {
  text-align: center;
  margin-bottom: 3rem;
}
.the-footer .footer-item .widgettitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.the-footer .footer-item .custom-contact-data-container .media .media-body {
  padding-left: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}
.the-footer .footer-item .custom-widget-contact-form-container {
  margin-bottom: 1rem;
}
.the-footer .footer-item .custom-widget-contact-form-container .widget-form-item {
  margin-bottom: 1rem;
}
.the-footer .footer-item .custom-widget-contact-form-container .widget-form-item .widget-form-control {
  color: #58595B;
  border-radius: 0;
  height: auto;
  padding: 0.8rem;
  font-size: 0.9rem;
}
.the-footer .footer-item .custom-widget-contact-form-container .widget-form-item textarea {
  min-height: 100px;
}
.the-footer .footer-item .custom-widget-contact-form-container .widget-form-item .btn-widget {
  background: #58595B;
  color: #ffffff;
  width: 100%;
  border-radius: 0;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem 0;
}
.footer-copy {
  background-color: #F6961D;
  color: #ffffff;
  text-align: center;
  padding: 1.3rem;
}
.footer-copy a {
  color: #ffffff;
}
.footer-copy a:hover {
  color: #58595B;
}
.footer-copy h6 {
  font-size: 0.9rem;
  margin: 0;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* FIRST HERO */
.two-side-item {
  position: relative;
}
.two-side-item picture {
  display: block;
}
.two-side-item .two-side-item-wrapper {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.two-side-item .two-side-item-wrapper h4 {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.two-side-item .two-side-item-wrapper h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-weight: 600;
  padding: 0 8vw;
}
.two-side-item .two-side-item-wrapper h5 {
  font-size: 1rem;
  font-weight: 300;
}
.two-side-item .two-side-item-wrapper .btn-twoside {
  background: linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
  color: #ffffff;
  border-radius: 0;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.two-side-item .two-side-item-wrapper .btn-twoside:hover {
  background: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);
}
.side-1 {
  border-right: 3px solid #ffffff;
}
.side-1 .two-side-middle {
  position: absolute;
  background: #ffffff;
  z-index: 999;
  top: 40%;
  right: -45px;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 100%;
  line-height: 1rem;
}
.side-2 {
  border-left: 3px solid #ffffff;
}
/* image sided */
.image-side-section {
  padding: 3rem 1rem;
  padding-bottom: 1rem;
}
.image-left {
  padding-bottom: 3rem;
}
.content-section {
  background: #F3F2F2;
  color: #58595B;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.content-section .wrapper {
  padding: 2.5rem 2rem;
  padding-bottom: 0;
}
.content-section .wrapper h2 {
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.content-section .wrapper .group-wrapper {
  margin-bottom: 0.5rem;
}
.content-section .wrapper .group-wrapper .media-body {
  color: #A0A0A0;
  padding: 0 1rem;
  padding-right: 0;
  font-size: 1rem;
  line-height: 1.8rem;
}
.content-section .wrapper .group-wrapper .media-body h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.content-section picture {
  flex: 0 0 40%;
}
.modal .modal-header {
  border-bottom: 0;
}
.modal .modal-header .close {
  padding: 0;
  margin: 0rem 0.5rem 0 auto;
  font-size: 2rem;
  border-radius: 100%;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  vertical-align: top;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-inst-title {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.modal .modal-inst-title h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: gray;
}
.modal .modal-inst-item {
  padding: 0 1.8rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.modal .modal-inst-item img {
  max-width: 180px;
  margin: 0 auto;
  display: block;
  margin-bottom: 1.5rem;
}
.modal .modal-body {
  padding: 1rem 5rem;
}
.modal-video .modal-body {
  padding: 0;
}
.modal-cart .modal-body {
  padding: 4rem 7rem;
  padding-bottom: 8rem;
  text-align: center;
}
.modal-cart-content img {
  margin: 1rem auto;
  margin-bottom: 2rem;
}
.modal-cart-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: gray;
}
.cart-buttons-container {
  padding-top: 2rem;
}
.cart-buttons-container .btn-modal-cart {
  background: linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
  color: #ffffff;
  padding: 0.9rem 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  margin: 0 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cart-buttons-container .btn-modal-cart:hover {
  background: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);
}
.woocommerce-product-gallery__wrapper {
  position: relative;
}
.woocommerce-product-gallery__wrapper .woocommerce-custom-image-container {
  position: absolute;
  top: 0;
  left: 0;
}
.container-cart .section-title h1 {
  margin: 2rem 0;
  font-size: 1.6rem !important;
  font-weight: 600;
  text-transform: uppercase;
}
.container-cart .woocommerce-cart-form {
  max-width: 60%;
  display: inline-block;
}
.custom_table_cart .cart_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.custom_table_cart .product-thumbnail {
  flex: 0 0 11%;
}
.custom_table_cart .product-thumbnail img {
  max-width: 100px;
}
.custom_table_cart .product-name {
  flex: 0 0 82%;
  padding-left: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.custom_table_cart .product-name a {
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  color: black;
  font-size: 0.95rem;
}
.custom_table_cart dl.variation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 0.2rem;
  margin-bottom: 0;
}
.custom_table_cart dl.variation dt {
  margin-right: 10px;
  font-weight: 400;
}
.custom_table_cart dl.variation dd {
  margin: 0;
  margin-right: 17px;
  margin-bottom: 9px;
  font-weight: 600;
}
.custom_table_cart .product-remove {
  flex: 0 0 8%;
  max-width: 8%;
  text-align: center;
  padding: 1.1rem 0.2rem;
  box-sizing: border-box;
  margin-top: 1rem;
}
.custom_table_cart .product-custom-remove {
  flex: 0 0 88%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.custom_table_cart .product-custom-remove .quantity span {
  font-weight: 100;
  text-transform: uppercase;
}
.custom_table_cart .product-custom-remove .quantity .qty {
  width: 4.031em;
  text-align: center;
  height: auto;
  padding: 0.5rem;
}
.custom_table_cart .product-custom-remove .product-price {
  font-size: 1.3rem;
  font-weight: 700;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none;
  width: 100%;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  width: 38.5%;
  display: inline-block;
  padding: 1rem;
  border: 1px solid gainsboro;
  vertical-align: top;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
  color: #ffffff;
  text-transform: uppercase;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);
  color: #ffffff;
}
.table_totals {
  border: 0 !important;
}
.table_totals th {
  border: 0 !important;
}
.table_totals td {
  border: 0 !important;
}
.table_totals .order-total {
  color: #F6961D;
  font-size: 1.3rem;
}
