// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Sintony', sans-serif;
@secondfont: 'Caveat', cursive;
@black: #000000;
@white: #ffffff;
@hgray: #58595B;
@mgray: #A0A0A0;
@sgray: #F3F2F2;
@syellow: #FBAF3F;
@hyellow: #F6961D;
@gradient: linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
@hgradient: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader-css {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @black;
    border-color: @black transparent @black transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    background-color: @white;
    padding: 1rem;
}

.navbar-logo {}

.navbar-buttons {
    text-align: right;

    & .btn-header {
        color: @white;
        border: 1px solid @gradient;
        background: @gradient;
        border-radius: 0;
        font-weight: 600;
        font-size: 1.1rem;
        margin-left: .5rem;
        padding: .8rem 1rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @hgradient;
            border-color: @hgradient;
        }
    }

    & .button1 {
        font-weight: 400;
        background: @white;
        border-color: @mgray;
        color: @mgray;

        &:hover {
            background: @white;
            color: @hgray;
            border-color: @hgray;
        }
    }
}

.btn-cart {
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    & .badge {
        border-radius: 100%;
        height: 23px;
        width: 23px;
        padding-top: 6px;
        text-align: center;
        margin-left: -12px;
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background-color: @syellow;
    color: @white;
    padding: 2rem;

    & .footer-item {
        & ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }

        & .widget_media_image {
            text-align: center;
            margin-bottom: 3rem;
        }

        & .widgettitle {
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }

        & .custom-contact-data-container {
            & .media {
                & .media-body {
                    padding-left: 0.5rem;
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        & .custom-widget-contact-form-container {
            margin-bottom: 1rem;

            & .widget-form-item {
                margin-bottom: 1rem;

                & .widget-form-control {
                    color: @hgray;
                    border-radius: 0;
                    height: auto;
                    padding: 0.8rem;
                    font-size: .9rem;
                }

                & textarea {
                    min-height: 100px;
                }

                & .btn-widget {
                    background: @hgray;
                    color: @white;
                    width: 100%;
                    border-radius: 0;
                    font-weight: 400;
                    font-size: 1rem;
                    padding: 0.5rem 0;
                }
            }
        }
    }
}

.footer-copy {
    background-color: @hyellow;
    color: @white;
    text-align: center;
    padding: 1.3rem;

    & a {
        color: @white;

        &:hover {
            color: @hgray;
        }
    }

    & h6 {
        font-size: .9rem;
        margin: 0;
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* FIRST HERO */
.two-side-item {
    position: relative;

    & picture {
        display: block;
    }

    & .two-side-item-wrapper {
        color: @white;
        background: rgba(0, 0, 0, .45);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        & h4 {
            font-size: 1.8rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        & h2 {
            font-size: 3.5rem;
            line-height: 4.5rem;
            text-align: center;
            font-weight: 600;
            padding: 0 8vw;
        }

        & h5 {
            font-size: 1rem;
            font-weight: 300;
        }

        & .btn-twoside {
            background: @gradient;
            color: @white;
            border-radius: 0;
            padding: 1rem;
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 1rem;
            margin-bottom: .5rem;

            &:hover {
                background: @hgradient;
            }
        }
    }
}

.side-1 {
    border-right: 3px solid @white;

    & .two-side-middle {
        position: absolute;
        background: @white;
        z-index: 999;
        top: 40%;
        right: -45px;
        padding: 2rem 1.5rem;
        font-size: 1.5rem;
        border-radius: 100%;
        line-height: 1rem;
    }
}

.side-2 {
    border-left: 3px solid @white;
}


/* image sided */
.image-side-section {
    padding: 3rem 1rem;
    padding-bottom: 1rem;
}

.image-left {
    padding-bottom: 3rem;
}

.content-section {
    background: @sgray;
    color: @hgray;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & .wrapper {
        padding: 2.5rem 2rem;
        padding-bottom: 0;

        & h2 {
            font-family: @secondfont;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        & .group-wrapper {
            margin-bottom: .5rem;

            & .media-body {
                color: @mgray;
                padding: 0 1rem;
                padding-right: 0;
                font-size: 1rem;
                line-height: 1.8rem;

                & h3 {
                    font-size: 1.25rem;
                    font-weight: 600;
                }
            }
        }
    }

    & picture {
        flex: 0 0 40%;
    }
}

.modal {
    & .modal-header {
        border-bottom: 0;

        & .close {
            padding: 0;
            margin: 0rem 0.5rem 0 auto;
            font-size: 2rem;
            border-radius: 100%;
            border: 2px solid black;
            width: 30px;
            height: 30px;
            vertical-align: top;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    & .modal-inst-title {
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 3rem;

        & h2 {
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: gray;
        }
    }

    & .modal-inst-item {
        padding: 0 1.8rem;
        font-size: 0.9rem;
        line-height: 1.5rem;

        & img {
            max-width: 180px;
            margin: 0 auto;
            display: block;
            margin-bottom: 1.5rem;
        }
    }

    & .modal-body {
        padding: 1rem 5rem;
    }
}

.modal-video .modal-body {
    padding: 0;
}

.modal-cart .modal-body {
    padding: 4rem 7rem;
    padding-bottom: 8rem;
    text-align: center;
}

.modal-cart-content {
    & img {
        margin: 1rem auto;
        margin-bottom: 2rem;
    }

    & h2 {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: gray;
    }
}

.cart-buttons-container {
    padding-top: 2rem;

    & .btn-modal-cart {
        background: @gradient;
        color: @white;
        padding: 0.9rem 1.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 0;
        margin: 0 .5rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @hgradient;
        }
    }
}

.woocommerce-product-gallery__wrapper {
    position: relative;

    & .woocommerce-custom-image-container {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.container-cart .section-title h1 {
    margin: 2rem 0;
    font-size: 1.6rem !important;
    font-weight: 600;
    text-transform: uppercase;
}

.container-cart .woocommerce-cart-form {
    max-width: 60%;
    display: inline-block;
}

.custom_table_cart {
    & .cart_item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    & .product-thumbnail {
        flex: 0 0 11%;

        & img {
            max-width: 100px;
        }
    }

    & .product-name {
        flex: 0 0 82%;
        padding-left: 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;

        & a {
            text-transform: uppercase;
            display: block;
            margin-bottom: 1rem;
            font-weight: 600;
            color: black;
            font-size: .95rem;
        }
    }

    & dl.variation {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 0.2rem;
        margin-bottom: 0;

        & dt {
            margin-right: 10px;
            font-weight: 400;
        }

        & dd {
            margin: 0;
            margin-right: 17px;
            margin-bottom: 9px;
            font-weight: 600;
        }
    }

    & .product-remove {
        flex: 0 0 8%;
        max-width: 8%;
        text-align: center;
        padding: 1.1rem .2rem;
        box-sizing: border-box;
        margin-top: 1rem;
    }

    & .product-custom-remove {
        flex: 0 0 88%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f3f3f3;
        padding: 0.5rem 1rem;
        margin-top: 1rem;

        & .quantity span {
            font-weight: 100;
            text-transform: uppercase;
        }

        & .quantity .qty {
            width: 4.031em;
            text-align: center;
            height: auto;
            padding: 0.5rem;
        }

        & .product-price {
            font-size: 1.3rem;
            font-weight: 700;
        }
    }
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    width: 38.5%;
    display: inline-block;
    padding: 1rem;
    border: 1px solid gainsboro;
    vertical-align: top;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background: @gradient;
    color: @white;
    text-transform: uppercase;

    &:hover {
        background: @hgradient;
        color: @white;
    }
}

.table_totals {
    border: 0 !important;

    & th {
        border: 0 !important;
    }

    & td {
        border: 0 !important;
    }

    & .order-total {
        color: @hyellow;
        font-size: 1.3rem;
    }
}