/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1440px) {
  .two-side-item .two-side-item-wrapper h2 {
    padding: 0 6vw;
  }
}
@media (max-width: 1280px) {
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .two-side-item .two-side-item-wrapper h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .side-1 .two-side-middle {
    top: 35%;
  }
  .two-side-item .two-side-item-wrapper .btn-twoside {
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .content-section .wrapper {
    padding: 1.2rem 1.5rem;
    padding-bottom: 0;
  }
  .content-section .wrapper .group-wrapper .media-body h3 {
    font-size: 1.05rem;
  }
  .content-section .wrapper h2 {
    font-size: 2rem;
  }
  .content-section .wrapper .group-wrapper .media-body {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 1170px) {
  .the-footer .footer-item .custom-contact-data-container .media .media-body {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .footer-copy h6 {
    font-size: 0.85rem;
  }
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
@media (max-width: 1024px) {
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .two-side-item .two-side-item-wrapper h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .two-side-item .two-side-item-wrapper .btn-twoside {
    padding: 0.8rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
  .content-section picture {
    display: none;
  }
  .navbar-buttons .btn-header {
    font-size: 1rem;
  }
  .the-footer .footer-item .custom-widget-contact-form-container .widget-form-item .widget-form-control {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .the-footer .footer-item .custom-contact-data-container .media .media-body {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .the-footer .footer-item .widgettitle {
    font-size: 1.2rem;
  }
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .side-1 .two-side-middle {
    top: 40%;
    padding: 1.1rem 0.9rem;
    font-size: 1rem;
    right: -28px;
  }
  .two-side-item .two-side-item-wrapper .btn-twoside {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 767px) {
  .navbar-buttons .btn-header {
    font-size: 1rem;
    margin-left: 0;
    padding: 0.5rem 0rem;
    width: 100%;
    margin-bottom: 10px;
  }
  .the-footer .footer-item .widgettitle {
    font-size: 1.5rem;
    text-align: center;
  }
  .the-footer .footer-item .custom-contact-data-container .media {
    justify-content: center;
  }
  .the-footer .footer-item .custom-contact-data-container .media .media-body {
    font-size: 1rem;
    line-height: 1.3rem;
    flex: 0 0 35%;
  }
  .the-footer .footer-item .custom-widget-contact-form-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 3rem;
  }
  .footer-copy h6 {
    font-size: 1rem;
    padding: 0rem 1.9rem;
    line-height: 1.8rem;
  }
  .side-1 {
    border-right: 0;
    border-bottom: 3px solid white;
  }
  .side-2 {
    border-left: 0;
    border-top: 3px solid white;
  }
  .side-1 .two-side-middle {
    bottom: -30px;
    padding: 1.3rem 1rem;
    font-size: 1.2rem;
    right: 45%;
    top: unset;
  }
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .two-side-item .two-side-item-wrapper .btn-twoside {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .two-side-item .two-side-item-wrapper h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 533px) {
  .navbar-buttons .btn-header {
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
    margin-bottom: 5px;
  }
  .the-footer .footer-item .custom-contact-data-container .media .media-body {
    font-size: 1rem;
    line-height: 1.2rem;
    flex: 0 0 40%;
  }
  .two-side-item .two-side-item-wrapper .btn-twoside {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .two-side-item .two-side-item-wrapper h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 1.7rem;
    line-height: 2.5rem;
    padding: 0 18vw;
  }
}
@media (max-width: 424px) {
  .navbar-buttons .btn-header {
    font-size: 0.8rem;
  }
  .the-footer .footer-item .custom-contact-data-container .media .media-body {
    flex: 0 0 50%;
  }
  .the-footer .footer-item .custom-widget-contact-form-container {
    margin-bottom: 1rem;
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .footer-copy h6 {
    font-size: 0.9rem;
  }
  .side-1 .two-side-middle {
    bottom: -28px;
    padding: 1.1rem 0.9rem;
    font-size: 1rem;
    right: 44%;
    top: unset;
  }
  .two-side-item .two-side-item-wrapper .btn-twoside {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
}
@media (max-width: 414px) {
  .two-side-item .two-side-item-wrapper h2 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    padding: 0 13vw;
  }
}
@media (max-width: 375px) {
  .navbar-buttons .btn-header {
    font-size: 0.7rem;
  }
}
