/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
SINGLE PRODUCT
-------------------------------------------------------------- */
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  float: none;
  width: 100%;
  clear: none;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  float: none;
  width: 100%;
  margin-bottom: 0;
}
.woocommerce div.product .product_title {
  color: #FBAF3F;
  clear: none;
  margin-top: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 9px !important;
  display: block;
}
.woocommerce div.product form.cart .button {
  background: linear-gradient(90deg, #F6961C 0%, #FAAF3F 100%);
  vertical-align: middle;
  float: none;
  display: block;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  margin-top: 1rem !important;
}
.woocommerce div.product form.cart .button:hover {
  background: linear-gradient(90deg, #FAAF3F 0%, #f7b95c 100%);
}
/* --------------------------------------------------------------
CHECKOUT PAGE BOOTSTRAP CORRECTIONS
-------------------------------------------------------------- */
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
}
.form-inline-product-data-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.form-inline-product-data-container .form-inline-item {
  flex: 0 0 33%;
  max-width: 33%;
}
.form-inline-product-data-container .form-inline-item label {
  display: block;
}
.form-inline-product-data-container .form-inline-item .form-control {
  border-radius: 3px;
  padding: 10px 1rem;
  height: auto;
  border-color: #888888;
  color: #888888;
}
.form-baseboard-selector {
  padding: 1rem 0;
  padding-bottom: 0;
}
.form-multiple-inline {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-multiple-inline select:last-child {
  margin-left: 5px !important;
}
.customizer-container-wrapper {
  padding: 3rem 0;
}
.customizer-container-wrapper .customizer-product-wrapper .product {
  border: 1px solid gainsboro;
  padding: 1rem;
}
.custom-accordion {
  border: 0;
}
.custom-accordion .card {
  border: 0;
}
.custom-accordion .card .card-header {
  background-color: transparent;
  border: 0;
  padding: 2rem 0;
  border-top: 1px solid gainsboro;
}
.custom-accordion .card .card-header .btn-link {
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #58595B;
  outline: 0 !important;
  box-shadow: none !important;
}
.custom-accordion .card .card-header h2 {
  position: relative;
  font-size: 1.8rem;
}
.custom-accordion .card .card-header h2 .plus-symbol {
  position: absolute;
  border: 1px solid #bdbdbd;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  right: 5px;
  top: -5px;
}
.custom-accordion .card .card-header h2 .plus-symbol span {
  position: absolute;
  background: #adadad;
  height: 2px;
  width: 23px;
  top: 15.3px;
  left: 5.8px;
}
.custom-accordion .card .card-header h2 .plus-symbol span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.custom-accordion .card .card-header .collapsed .plus-symbol span:nth-child(1) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.custom-accordion .card .card-body {
  padding: 1rem 0;
}
.custom-accordion .card .card-body .text-link {
  color: #F6961D;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.custom-accordion .card .card-body .text-link .fa {
  margin-right: 5px;
}
.custom-accordion .card .card-body .text-link:hover {
  color: #FBAF3F;
}
.custom-accordion .card .card-body h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0;
}
.custom-accordion .card .card-body .select-custom-color-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.custom-accordion .card .card-body .select-custom-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.custom-accordion .card .card-body .select-custom-container .select-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid gainsboro;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  width: 120px;
  margin-right: 15px;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  -moz-transition: -moz-box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
}
.custom-accordion .card .card-body .select-custom-container .select-item img {
  margin-bottom: 15px;
}
.custom-accordion .card .card-body .select-custom-container .select-item label {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: gray;
  margin-top: 6px;
}
.custom-accordion .card .card-body .select-custom-container .select-item small {
  font-size: 8px;
  font-weight: 600;
}
.custom-accordion .card .card-body .select-custom-container .select-item-checked {
  box-shadow: inset 0px 0px 0px 4px #f79a21;
  border: 0px !important;
}
.select-item-color {
  text-align: center;
  flex: 0 0 20%;
}
.select-item-color .color-selector {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 65px;
  width: 65px;
  padding: 6.2px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 100%;
  display: block;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  -moz-transition: -moz-box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
}
.select-item-color .color-selector .color-selector-wrapper {
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border: 1px solid #888888;
  border-radius: 100%;
  display: block;
}
.select-item-color .none .color-selector-wrapper:before {
  content: '';
  position: absolute;
  top: 54%;
  left: -10px;
  width: 60px;
  height: 5px;
  background: red;
  transform: rotate(-45deg);
}
.select-item-color label {
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: gray;
  margin-top: 6px;
}
.select-item-checked .color-selector {
  box-shadow: inset 0px 0px 0px 4px #f79a21;
  border: 0px !important;
  padding: 7.2px;
}
.woocommerce-product-details__short-description {
  font-weight: 600;
  color: gray;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #f7981f;
  font-size: 1.5em;
  font-weight: 700;
}
.single-product div.product form.cart div.quantity {
  float: right;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: -50px;
}
