.one-last-thing-container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.one-last-thing-container .section-title {
  margin-bottom: 80px;
}
.one-last-thing-container .section-title h2 {
  margin-top: 0;
  margin-bottom: 24px;
  height: 40px;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #58595b;
}
.one-last-thing-container .section-title p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #58595b;
}
.one-last-thing-container .additional-item-row {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.one-last-thing-container .additional-item-row .additional-item-row__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #58595b;
  margin-bottom: 40px;
}
.one-last-thing-container .additional-item-row .additional-item-row__title .text-muted {
  color: #8c959d !important;
}
.one-last-thing-container .additional-item-row .additional-item-row__content label {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #58595b;
}
.one-last-thing-container .btn-warning {
  padding: 15px;
  background: linear-gradient(90deg, #f6961c 0%, #faaf3f 100%);
  border-radius: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
